<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body style="background-color:black;">
  <div class="container"><FONT COLOR="#DAD5DE">
    <p style="font-size:14px;color:#DAD5DE">
      💟 I’m
      <span style="color:white; font-weight:bold">January 30, 2011</span>
      Effie 
      <span style="color:#DAD5DE">summer</span> 
      a geneticist, molecular & computational biologist.
      <span style="color:white; font-weight:bold">summer</span> 
      What I work on: 
      <span style="color:#DAD5DE">summer</span>
      my PhD, making R/Python packages for transcriptomics pipelines, a wet lab experiment helper (coming soon ⌛)
    </p>
  </FONT></div>
{% include scripts.html %}
</body>
</html>
