<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d6d90202c3.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body style="background-color:black;">
  <div class="container" width:"700px">
    
    <center>
      <a href="https://twitter.com/heffiemetal">
        <i class="fa-brands fa-twitter" style="font-size: 1.25em;color:#f7c23b"></i></a>
      <a href="https://www.linkedin.com/in/eftychia-klimi-37b525176/">
        <i class="fa-brands fa-linkedin-in" style="font-size: 1.25em;color:#f7c23b"></i></a>
      <a href="https://github.com/effieklimi">
        <i class="fa-brands fa-github" style="font-size: 1.25em;color:#f7c23b"></i></a>
      <a href="https://effieklimi.substack.com">
        <i class="fa-solid fa-pen-nib" style="font-size: 1.25em;color:#f7c23b"></i></a>
    </center>
    
    <br><br><br>
    
    <p style="font-size:17px;color:#a3a3a3;font-family:'Open Sans', sans-serif">
      <br>👋 I’m
      <span style="color:white; font-weight:bold;font-family:'Open Sans', sans-serif">
        Effie</span> 
      <span style="color:#a3a3a3;font-weight:bold;font-family:'Open Sans', sans-serif">
        , a biologist, data scientist and R/Python developer.</span> 
      <span style="color:white; font-weight:bold;font-family:'Open Sans', sans-serif">
        <br><br>What I work on: </span> 
      <span style="color:#a3a3a3;font-weight:bold;font-family:'Open Sans', sans-serif">
        <br> ⋄ my <a href="https://gtr.ukri.org/person/0E8CBBE0-1FB5-4C5B-96DE-31D41BB5E302" style="color:#f7c23b;font-weight:bold;font-family:'Open Sans', sans-serif">
          PhD </a> 🫀 (<span style="color:white; font-weight:bold;font-family:'Open Sans', sans-serif"> bioinformatics, miRNA therapeutics, viral vectors </span>)
        <br> ⋄ making R/Python packages for transcriptomics pipelines
        <br> ⋄ data science projects
        <br> ⋄ a wet-lab experiment helper (</span>
       <span style="color:white; font-weight:bold;font-family:'Open Sans', sans-serif">coming soon ⌛ </span>)
      <br><br>
      <a href="mailto:effieklimi@icloud.com" style="color:#f7c23b;font-weight:bold;font-family:'Open Sans', sans-serif">Contact Me ⇢ </a>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </p>
  </div>
{% include scripts.html %}
</body>
</html>
