<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <p style="font-family:Lato"> 💟 I’m Effie, a geneticist, molecular & computational biologist.

What I work on: my PhD making R/Python packages for transcriptomics pipelines a wet lab experiment helper (coming soon ⌛) </p>
  </div>
{% include scripts.html %}
</body>
</html>
